.get-for-free1 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.ctawhite-s {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
  text-align: left;
  font-size: var(--body-bold-size);
  color: var(--color-black);
  font-family: var(--body-bold);
}
