.faqs,
.h22 {
  position: absolute;
}
.h22 {
  top: 77px;
  left: 278px;
  letter-spacing: -0.06em;
  line-height: 60px;
}
.faqs {
  top: 184px;
  left: 262px;
  width: 675px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq {
  width: 1200px;
  position: relative;
  height: 706px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--body-small-tag);
}
